<html xmlns:o="urn:schemas-microsoft-com:office:office"
xmlns="http://www.w3.org/TR/REC-html40">

<head>
<meta http-equiv=Content-Type content="text/x-ms-odc; charset=utf-8">
<meta name=ProgId content=ODC.Table>
<meta name=SourceType content=OLEDB>

<title>Access-to-Excel OLE data connector description</title>

<xml id=docprops>
  <o:DocumentProperties
    xmlns:o="urn:schemas-microsoft-com:office:office"
    xmlns="http://www.w3.org/TR/REC-html40">
  <o:Name>$Name</o:Name>
 </o:DocumentProperties>
</xml>
<xml id=msodc><odc:OfficeDataConnection
  xmlns:odc="urn:schemas-microsoft-com:office:odc"
  xmlns="http://www.w3.org/TR/REC-html40">
  <odc:Connection odc:Type="OLEDB">
   <odc:ConnectionString>
     $ConnectionString
   </odc:ConnectionString>
   <odc:CommandType>$CommandType</odc:CommandType>
   <odc:CommandText>$CommandText</odc:CommandText>
  </odc:Connection>
 </odc:OfficeDataConnection>
</xml>

</head>
<body>
  <pre>
Created $Now
In: $PWD
Data Source: $DataSource
  </pre>
</body>
</html>