[submodule "video-cli"]
	path = video-cli
	url = /Users/hayden/Dropbox/repos/video-cli.git/
[submodule "Splitter"]
	path = Splitter
	url = git@github.com:matt-hayden/video-clip-splitter.git
[submodule "Screencap"]
	path = Screencap
	url = git@github.com:matt-hayden/screencap.git
[submodule "Sorter"]
	path = Sorter
	url = git@github.com:matt-hayden/tagxon.git
[submodule "at"]
	path = at
	url = git@github.com:matt-hayden/py-at.git
[submodule "faceswap"]
	path = faceswap
	url = git@github.com:matt-hayden/faceswap.git
