[submodule "Splitter"]
	path = python/Splitter
	url = git@github.com:matt-hayden/video-clip-splitter.git
[submodule "Screencap"]
	path = python/Screencap
	url = git@github.com:matt-hayden/screencap.git
[submodule "Sorter"]
	path = python/Sorter
	url = git@github.com:matt-hayden/tagxon.git
[submodule "at"]
	path = at
	url = git@github.com:matt-hayden/py-at.git
[submodule "faceswap"]
	path = python/faceswap
	url = git@github.com:matt-hayden/faceswap.git
