[submodule "TraceWizard4"]
	path = TraceWizard4
	url = c:/Users/Matt/Dropbox/Aquacraft/pyTraceWizard4.git
[submodule "TraceWizard5"]
	path = TraceWizard5
	url = c:/Users/Matt/Dropbox/Aquacraft/pyTraceWizard5.git
[submodule "ProjectsSolutions"]
	path = ProjectsSolutions
	url = git://github.com/thekarangoel/Projects-Solutions.git
